:root {
    /*General CSS styles used throughout the website*/
    --background-color: #03152c;
    --font-family: "'Barlow Semi Condensed', sans-serif";

    /*Used on the images that are used to describe the game rules*/
    --mask-1: conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) 50%/100% calc(2*var(--z)) repeat-y;
    --mask-2: conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;

    /* control the zig-zag  */
    --z: 36px;
    /* control the size */
    --s: 220px;
    /* control the gap */
    --g: 16px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--background-color);
    color: #fff;
    overflow-x: hidden;
}

/*This contains the entire game*/
.full-game-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    max-width: 1440px;
}

/**** Styles for the Title Screen ****/

.title-screen {
    display: none;
}

.title-screen.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    align-items: stretch;
    justify-content: center;
}

.title-screen-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo-container {
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
}

.logo {
    height: 350px;
}

.difficulty-select {
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difficulty-options {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-width: 520px;
}

.difficulty-title {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 28px;
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.difficulty {
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #7e9bfc;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.difficulty:hover {
    border: none;
}

.difficulty::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.difficulty::after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left,
            #001a6e,
            #7e9bfc);
    transition: all .3s ease;
    z-index: -1;
}

.difficulty:hover::after {
    width: 100%;
}

.difficulty:hover::before {
    filter: invert(100%);
}

#sheldon {
    grid-column: span 2;
}

#easy::before {
    background-image: url('../images/svg/easy.svg');
}

#normal::before {
    background-image: url('../images/svg/normal.svg');
}

#hard::before {
    background-image: url('../images/svg/hard.svg');
}

#impossible::before {
    background-image: url('../images/svg/sheldon.svg');
}



/* *Making the title screen responsive */
@media (max-width: 1024px) {
    .title-screen.active {
        flex-direction: column;
    }

    .logo-container {
        justify-content: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 868px) {
    .title-screen.active {
        padding: 35px;
    }

    .title-screen-container {
        flex-direction: column;
        margin-bottom: 75px;
    }

    .logo {
        height: 195px;
    }

    .difficulty-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .difficulty {
        width: 100%;
        padding: 20px 15px;
        margin-bottom: 10px;
        color: #fff;
        background: linear-gradient(to left,
                #001a6e,
                #537bfe);
        border: none;
    }

    .difficulty::before {
        filter: invert(100%);
    }

    #sheldon::before {
        filter: invert(0);
    }
}

@media (max-width: 486px) {
    .difficulty {
        width: 90%;
    }

    .difficulty::before {
        width: 25px;
        height: 25px;
    }
}

/* Styling Game Rules Section */

.game-rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 65px;
}

.rules-heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 45px;
}

.rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rules-image {
    max-height: 460px;
    margin-bottom: 65px;
}

.rules-description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.game-rule-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 12px;
}

.game-rule-images {
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
}


/*
The hover effect of the images along with the clip-path and zig-zag effect 
have been inspired by https://codepen.io/t_afif/pen/BarmdPB?editors=0100
Some code snippets were also taken directly from the codepen
*/
.rule-img {
    width: 0;
    min-width: calc(100% + var(--z)/2);
    height: var(--s);
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

.game-rule-images:hover>.rule-img:first-child {
    width: calc(var(--s)/.8);
}

.rule-img:first-child {
    place-self: start;
    clip-path: polygon(calc(2*var(--z)) 0, 100% 0, 100% 100%, 0 100%);
    -webkit-mask: var(--mask-1);
    mask: var(--mask-1);
}

.rule-img:last-child {
    place-self: end;
    clip-path: polygon(0 0, 100% 0, calc(100% - 2*var(--z)) 100%, 0 100%);
    -webkit-mask: var(--mask-2);
    mask: var(--mask-2);
}

/* Making Game Rules section responsive */

@media (max-width: 1024px) {
    :root {
        --s: 150px;
    }

    .rules-image {
        max-height: 50vw;
        margin: 0 35px;
        margin-bottom: 55px;
    }
}

@media (max-width: 768px) {
    :root {
        --s: 40vw;
    }

    .game-rules-container {
        padding: 0 35px;
    }

    .rules-description {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media (max-width: 550px) {
    :root {
        --z: 24px;
        --g: 10px;
    }

    .rules-heading {
        font-size: 24px;
    }

    .game-rules-container {
        padding: 0 15px;
    }
}

/* Styling Sheldon Cooper Section */

.sheldon-cooper-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    padding: 0 35px;
}

.sheldon-heading {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 65px;
}

.sheldon-info {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheldon-image {
    max-height: 450px;
    margin-right: 55px;
}

.sheldon-description {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.sheldon-text {
    font-size: 22px;
    margin-bottom: 35px;
}

/* Making Sheldon Cooper Section Responsive */

@media (max-width: 1024px) {
    .sheldon-description {
        max-width: 420px;
        margin: 0 20px;
    }
}

@media (max-width: 860px) {
    .sheldon-info {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .sheldon-image {
        margin-right: 0;
        margin-bottom: 55px;
    }

    .sheldon-description {
        max-width: 70vw;
        align-items: center;
        justify-content: center;
    }

    .sheldon-text {
        font-size: 24px;
        text-align: center;
    }
}


@media (max-width: 550px) {
    .sheldon-image {
        max-height: 300px;
    }

    .sheldon-description {
        max-width: 100%;
    }

    .sheldon-text {
        font-size: 18px;
    }
}


/* Styling the Game */

.game.disabled {
    display: none;
}

.game.active {
    display: block;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 55px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 80px;
}

.battle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    max-width: 240px;
}

.score {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 15px;
}

.display-text {
    color: darkgray;
    text-align: center;
}

.round-winner {
    margin-top: 15px;
    color: darkgray;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.choice {
    width: 120px;
    margin: 0 15px;
    user-select: none;
}

.choice:hover {
    cursor: pointer;
}


.result {
    color: #111;
    width: 200px;
}

/* Making the Game Responsive */

@media (max-width: 1024px) {
    .choice {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .game.active {
        padding: 20px;
    }

    .heading {
        margin-bottom: 35px;
    }

    .choice {
        width: 95px;
    }

    #computer-name {
        position: absolute;
        bottom: -40px;
    }

    .round-winner {
        margin: 12px 0;
    }

    .battle {
        flex-direction: column;
        margin-bottom: 35px;
    }

    .result {
        width: 155px;
    }

    .options {
        flex-wrap: wrap;
        max-width: 400px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
}

@media (max-width: 550px) {
    .game.active {
        padding: 15px;
    }

    .heading {
        margin-bottom: 15px;
    }

    .options {
        max-width: 95%;
    }

    .choice {
        width: 70px;
        margin: 8px;
    }

    .result {
        width: 105px;
    }
}



/* Styles for the end screen */
.game-ended {
    display: none;
}

.game-ended.active {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 25px 55px;
}

.game-ended-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 100%;
}

.game-ended-logo-container {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-ended-logo {
    height: 350px;
}


.final-winner {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 25px;
}

.final-score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.final-score-player,
.final-score-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 40px;
}

.score-bubble {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url('../images/svg/placeholder.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.player-score-final,
.computer-score-final {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 42px;
    font-weight: 900;
    color: #000;
}

.name-final-score {
    margin-bottom: 10px;
}


.play-again {
    background-color: transparent;
    color: #fff;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    border: none;
    z-index: 2;
    width: 60%;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: 1px solid #7e9bfc;
    transition: all .3s ease;
}

.play-again:hover {
    border: none;
}


.play-again::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left,
            #001a6e,
            #537bfe);
    transition: all .3s ease;
    z-index: -1;
}

.play-again:hover::before {
    width: 100%;
}

/* Making the end screen responsive */

@media (max-width: 1024px) {
    .final-winner {
        font-size: 26px;
        margin-bottom: 20px;
        text-align: center;
    }

    .final-score {
        flex-direction: column;
    }

    .final-score-player,
    .final-score-computer {
        margin: 0 25px;
    }
}

@media (max-width: 768px) {
    .game-ended.active {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 25px;
    }

    .game-ended-logo {
        height: 130px;
    }

    .game-ended-info {
        flex: 0;
        margin-top: 25px;
    }

    .game-ended-logo-container {
        max-height: 135px;
    }

    .final-score {
        flex-direction: row;
    }

    .score-bubble {
        width: 175px;
        height: 175px;
    }

    .final-score-player,
    .final-score-computer {
        margin: 15px 35px;
    }
}

@media (max-width: 550px) {
    .game-ended.active {
        padding: 15px;
    }

    .final-score {
        flex-direction: column;
    }

    .score-bubble {
        width: 115px;
        height: 115px;
    }

    .final-winner {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }

    .play-again {
        min-width: 250px;
    }

    .game-ended-logo-container {
        max-height: 90px;
    }

    .game-ended-logo {
        height: 70px;
    }

    .play-again {
        background: linear-gradient(to left,
                #001a6e,
                #537bfe);
    }
}
